body {
 color: #797575;
 background-color: #e8ecef;
 transition: all .5s;
}

html {
 font-family: Helvetica-Light, HiraginoSans-W2;
 font-size: 62.5%;
}

*,
*::after,
*::before {
 box-sizing: border-box;
}

.night-mode {
 background-color: #141313;
 transition: all .5s;
 p {
  color: #fff;

 }

}

////////nightMode//////////

p {
 line-height: 1.5;
 font-size: 1.6rem;
 text-align: left;
}

h1,
h2,
h3 {
 font-size: 2.5rem;
 font-weight: 200;
}

.site-title {
 margin-bottom: 20px;
 line-height: 1.5;
 word-break: break-all;
 font-size: 1.9rem;
}

a {
 color: #333;
 text-decoration: none;
}

header {
 background-color: #fff;
 width: 100%;
 box-shadow: 3px 3px 2px #bcb6b6;
 position: fixed;
 z-index: 2;
  transform: translatex(-50%);
 left: 50%;
 .logo {
  border-bottom: 1px solid #bcb6b6;
  padding: 12px 20px;
 }

 ul {
  display: flex;
  justify-content: center;
 }

 li {
  padding: 15px 25px;
  list-style: none;
  letter-spacing: 1px;
  font-size: 2rem;

 }
}

.greetings {
 padding: 20px 0;

 border-bottom: 1px solid #bfbdbd;

 h2 {
  margin-bottom: 20px;
 }
}

.timeline {
 padding: 20px 0 10px 0;
 position: relative;

 &::before {
  content: '';
  width: 50px;
  height: 99%;
  position: absolute;
  border-left: 5px solid #dbd1d1;
  top: 0;
  left: 28px;
  z-index: -1;
  margin: 50px 0 30px;
 }

 .year {
  font-size: 1.4rem;
  padding: 11px;
  margin: 0 0 20px 5px;
  background-color: #36afb9;
  color: #fff;
  display: inline-block;
 }
}



.wrap {
 padding: 130px 20px 0 20px;
 max-width: 580px;
 margin: 0 auto;
}

.description {
 background-color: #fff;
 padding: 30px 15px;
 border-radius: 5px;
 margin: 20px 0 20px 50px;

 a {
  word-wrap: break-word;
 }
}

.works-item {
 position: relative;

 .icon {
  position: absolute;
  border-radius: 90%;
  width: 16px;
  height: 16px;
  background-color: #444;
  left: 22px;
  top: 128px;
 }

 img {
  width: 300px;
  display: block;
 }
}

.skills {
 padding: 10px 0;
 margin: 15px 0;
  
 border-top: 1px solid #bcb6b6;

 h2 {
  margin-bottom: 5px;
 }

 span {
  font-size: 1.8rem;
  background-color: #09b9b9;
  color: #333;
  padding: 4px 10px;
  display: inline-block;
  border-radius: 100px;
  margin: 5px 3px;
  letter-spacing: 1px;
 }
}

.contact {
 padding: 10px 0;
 margin: 15px 0;
 border-top: 1px solid #bcb6b6;
 .qr-image {
  width: 100px;
  margin-right: 10px;
 }

 .add-tap-image {
  width: 160px;
 }

 a {
  display: inline-block;
 }

 h2 {
  margin-bottom: 10px;
 }
}

 .light-btn{
 position: fixed;
 width: 50px;
 height: 50px;
 bottom: 100px;
 right: 100px;
 background-color: blue;
}

footer {
 padding: 20px;
 max-width: 580px;
 margin: 0 auto;

 small {
   
  display: block;
 }
 p {
  font-size: 1.3rem;
 }

}
