body {
  background-color: #e8ecef;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

html {
  font-family: 'M+ C Type-1 (basic latin) Light', 'M+ Type-1 (general-j) Regular', sans-serif;
  font-size: 62.5%; }

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h2 {
  color: #333; }

.night-mode {
  background-color: #141313;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .night-mode a {
    color: #959393; }
  .night-mode h2 {
    color: #fff; }
  .night-mode p {
    color: #ded2d2; }
  .night-mode .site-title {
    color: #fff; }
  .night-mode header {
    background-color: #676565; }
    .night-mode header .light-btn {
      background-color: #fff; }
    .night-mode header i {
      color: #333; }
    .night-mode header .logo,
    .night-mode header a {
      color: #efebeb; }
  .night-mode .description {
    background-color: #4b4848; }
  .night-mode .skills span {
    background-color: #1c2529; }
  .night-mode .timeline .year {
    background-color: #111f1a; }
  .night-mode small p {
    color: #959393; }

p {
  line-height: 1.5;
  font-size: 1.6rem;
  text-align: left;
  color: #585656; }

h1,
h2,
h3 {
  font-size: 2.5rem;
  font-weight: 200; }

.site-title {
  margin-bottom: 20px;
  line-height: 1.5;
  word-break: break-all;
  font-size: 1.9rem; }

a {
  color: #333;
  text-decoration: none; }

header {
  background-color: #fff;
  width: 100%;
  -webkit-box-shadow: 3px 3px 2px #bcb6b6;
  box-shadow: 3px 3px 2px #bcb6b6;
  position: fixed;
  z-index: 4;
  -webkit-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
  left: 50%; }
  header .header-top {
    position: relative; }
  header .logo {
    border-bottom: 1px solid #bcb6b6;
    padding: 12px 20px; }
  header .light-btn {
    border: none;
    outline: none;
    border-radius: 90%;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #08a7a7;
    top: 3px;
    right: 15px; }
  header i {
    font-size: 2.5rem;
    color: #fff;
    line-height: 25; }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  header li {
    padding: 15px 25px;
    list-style: none;
    letter-spacing: 1px;
    font-size: 2rem; }

.greetings {
  padding: 20px 0;
  border-bottom: 1px solid #bfbdbd; }
  .greetings h2 {
    margin-bottom: 20px; }

.timeline {
  padding: 20px 0 10px 0;
  position: relative; }
  .timeline::before {
    content: '';
    width: 50px;
    height: 99%;
    position: absolute;
    border-left: 5px solid #dbd1d1;
    top: 0;
    left: 28px;
    z-index: -1;
    margin: 50px 0 30px; }
  .timeline .year {
    font-size: 1.4rem;
    padding: 11px;
    margin: 0 0 20px 5px;
    background-color: #36afb9;
    color: #fff;
    display: inline-block; }

.wrap {
  padding: 130px 20px 0 20px;
  max-width: 580px;
  margin: 0 auto; }

.description {
  background-color: #fff;
  padding: 30px 15px;
  border-radius: 5px;
  margin: 20px 0 20px 50px; }
  .description a {
    word-wrap: break-word; }

.works-item {
  position: relative; }
  .works-item .icon-parent {
    position: fixed;
    width: 16px;
    height: 16px; }
  .works-item .icon-wrap {
    position: relative;
    width: 16px;
    height: 16px;
    left: 22px;
    top: 235px;
    Z-index: -1; }
  .works-item .icon {
    width: 16px;
    height: 16px;
    position: absolute;
    background-color: #444;
    border-radius: 90%; }
  .works-item img {
    width: 300px;
    display: block; }

.skills {
  padding: 10px 0;
  margin: 15px 0;
  border-top: 1px solid #bcb6b6; }
  .skills h2 {
    margin-bottom: 5px; }
  .skills span {
    font-size: 1.6rem;
    background-color: #06335a;
    color: #fff;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 100px;
    margin: 5px 3px;
    letter-spacing: 1px; }

.contact {
  padding: 10px 0;
  margin: 15px 0;
  border-top: 1px solid #bcb6b6; }
  .contact .qr-image {
    width: 100px;
    margin-right: 10px; }
  .contact .add-tap-image {
    width: 160px; }
  .contact a {
    display: inline-block; }
  .contact h2 {
    margin-bottom: 10px; }

footer {
  padding: 20px;
  max-width: 580px;
  margin: 0 auto; }
  footer small {
    display: block; }
  footer p {
    font-size: 1.3rem; }
